.table-section {
    background: white;
    margin: 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 5px 15px 40px 15px rgba(0,0,0,0.1);
}
.chart-section {
    background: white;
    margin: 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 5px 15px 40px 15px rgba(0,0,0,0.1);
}

th {
    white-space: nowrap;
}