.toast {
    color: #000 !important;
    background-color: #fff !important;
    opacity: 1 !important;
  }
  
  .toast-message {
    visibility: visible !important;
    color: inherit !important;
  }
  
  .toast-success {
    background-color: #51a351 !important;
  }